<%- include partials/header %>



<!-- Titlebar
================================================== -->
<div id="titlebar">
	<div class="container">
		<div class="row">
			<div class="col-md-12">

				<h2>Log In & Register</h2>

				<!-- Breadcrumbs -->
				<nav id="breadcrumbs">
					<ul>
						<li><a href="/">Home</a></li>
						<li>Log In & Register</li>
					</ul>
				</nav>

			</div>
		</div>
	</div>
</div>


<!-- Contact
================================================== -->

<!-- Container -->
<div class="container">

	<div class="row">
	<div class="col-md-4 col-md-offset-4">

	<!--Tab -->
	<div class="my-account style-1 margin-top-5 margin-bottom-40">

		<ul class="tabs-nav">
			<li class=""><a href="#tab1">Log In</a></li>
			<li><a href="#tab2">Register</a></li>
		</ul>

		<div class="tabs-container alt">

			<!-- Login -->
			<div class="tab-content" id="tab1" style="display: none;">
				<form method="POST" class="login" action="/login">


							<p class="form-row form-row-wide">
						<label for="email">Email:
							<i class="im im-icon-Male"></i>
							<input type="text" class="input-text" name="email" id="username" value="" />
						</label>
					</p>

					<p class="form-row form-row-wide">
						<label for="password">Password:
							<i class="im im-icon-Lock-2"></i>
							<input class="input-text" type="password" name="password" id="password"/>
						</label>
					</p>

					<p class="form-row">
						<input type="submit" class="button border margin-top-10" name="login" value="Login" />

						<label for="rememberme" class="rememberme">
						<input name="rememberme" type="checkbox" id="rememberme" value="forever" /> Remember Me</label>
					</p>

					<p class="lost_password">
						<a href="#" >Lost Your Password?</a>
					</p>

				</form>
			</div>

			<!-- Register -->
			<div class="tab-content" id="tab2" style="display: none;">



			<form method="POST" class='register' action="/signup">

				<p class="form-row form-row-wide">
					<label for="lastName">Last Name:
						<i class="im im-icon-Male"></i>
						<input type="text" class="input-text" name="lastName" id="lastName" value="" />
					</label>
				</p>

				<p class="form-row form-row-wide">
					<label for="firstName">First Name:
						<i class="im im-icon-Male"></i>
						<input type="text" class="input-text" name="firstName" id="firstName" value="" />
					</label>
				</p>
				
				<p class="form-row form-row-wide">
					<label for="email">Email Address:
						<i class="im im-icon-Mail"></i>
						<input type="text" class="input-text" name="email" id="email2" value="" />
					</label>
				</p>

				<p class="form-row form-row-wide">
					<label for="password1">Password:
						<i class="im im-icon-Lock-2"></i>
						<input class="input-text" type="password" name="password" id="password"/>
					</label>
				</p>


				<p class="form-row">
					<input type="submit" class="button border fw margin-top-10" name="register" value="Register" />
				</p>
				</p>

				</form>
			</div>

		</div>
	</div>



	</div>
	</div>

</div>
<!-- Container / End -->



<!-- Footer
================================================== -->
<%- include partials/footer %>
